
ekzpoalgemu.aux
ekzpoalgemu.log
ekzpoalgemu.out
ekzpoalgemu.synctex.gz
algem_tasks.aux
algem_tasks.out
algem_tasks.log
algem_tasks.synctex.gz
exam_matan.aux
exam_matan.log
exam_matan.out
exam_matan.synctex.gz
*.out
*.bbl
*.blg
*.log
*.aux
*.gz
*.dvi
